.header {
  max-height: 116px;
  width: 100%;
  background-color: $green;
  position: fixed;
  top: 0;
  .header-container {
    margin: 28px 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-right {
      display: flex;
      align-items: center;
      .menu {
        //margin-right: 49px;
        display: flex;
        .menu-item {
          margin-right: 45px;
          font-size: $s;
          text-transform: uppercase;
          font-weight: bold;
          color: $white;
        }
      }

      .filter-icons {
        width: 50px;
      }
    }

    .menu-mobile {
      display: none;
    }

    @media screen and (max-width: 375px) {
      .header-right {
        display: none;
      }
      .menu-mobile {
        display: block;
        svg {
          fill: $white;
        }
      }
    }
  }
  .header-filter {
    background-color: $grey-light;
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      color: $grey;
      font-size: $s;
    }
  }

}

.menu-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;

  .menu-modal {

    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    outline: none;
    padding: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    .menu-logo {
      position: absolute;
      top: 20px;
      left: 20px;
      g {
        fill: $green
      }
    }
    .menu-close {
      path {
        fill: $grey;

      }
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .menu-modal-container {

      width: 170px;
      height: 150px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: $xl;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;

      }

    }
  }
}

