//colors

$green: #7ed321 !default;
$rose: #e990f9 !default;
$grey: #b0b0b0 !default;
$grey-light: #eaeaea !default;
$white: #fff !default;

//sizes
$s: 13px !default;   //13px
$m: 14px !default;   //14px
$ml: 16px !default;   //16px
$l: 18px !default;   //18px
$xl: 24px !default;   //24px
$xxl: 36px !default;   //36px
